In [3]:
import pandas as pd
import glob
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [4]:
all_files = glob.glob('data/*.csv')
df = pd.concat((pd.read_csv(f) for f in all_files), sort=False)

In [7]:
df.columns

Index(['batch_date', 'test_name', 'swab_type', 'covid19_test_results', 'age',
       'high_risk_exposure_occupation', 'high_risk_interactions', 'diabetes',
       'chd', 'htn', 'cancer', 'asthma', 'copd', 'autoimmune_dis', 'smoker',
       'temperature', 'pulse', 'sys', 'dia', 'rr', 'sats', 'rapid_flu_results',
       'rapid_strep_results', 'ctab', 'labored_respiration', 'rhonchi',
       'wheezes', 'days_since_symptom_onset', 'cough', 'cough_severity',
       'fever', 'sob', 'sob_severity', 'diarrhea', 'fatigue', 'headache',
       'loss_of_smell', 'loss_of_taste', 'runny_nose', 'muscle_sore',
       'sore_throat', 'cxr_findings', 'cxr_impression', 'cxr_label',
       'cxr_link', 'er_referral'],
      dtype='object')

In [10]:
pysqldf("SELECT cough_severity, COUNT(*) FROM df GROUP BY cough_severity")

  cough_severity  COUNT(*)
0           None     88284
1           Mild      3966
2       Moderate      1627
3         Severe       118

In [11]:
pysqldf("SELECT cough, COUNT(*) FROM df GROUP BY cough")

   cough  COUNT(*)
0    NaN        15
1    0.0     88135
2    1.0      5845